name: Publish

on:
  push:
    branches: [ develop ]

jobs:
  build-test-publish:
    runs-on: ubuntu-latest

    steps:

    - uses: actions/checkout@v2

    - name: Build & Test
      uses: burrunan/gradle-cache-action@v1
      with:
        job-id: jdk8-build-test
        arguments: build

    - name: Updload Reports
      uses: actions/upload-artifact@v2
      with:
        name: reports
        path: build/reports

    - name: Publish Maven (Snapshot)
      uses: burrunan/gradle-cache-action@v1
      with:
        job-id: jdk8-build-test
        arguments: build publish -x test
        properties: |
          ossrhUsername=${{ secrets.OSSRH_USER }}
          ossrhPassword=${{ secrets.OSSRH_PASS }}

    - name: Publish Documentation
      uses: JamesIves/github-pages-deploy-action@4.0.0
      with:
        branch: gh-pages
        folder: build/javadoc
